* {
    margin: 0;
    padding: 0;
    border-collapse: collapse;
}

#root{
    display: flex;
    flex-direction: column;
}

body{
    background-color: #00AF91;
}

#header{
background-color: #007965;
display: flex;
width: 100%;
align-items: center;
flex-wrap: nowrap;
justify-content: space-evenly;
box-shadow: 2px 3px  #F58634;
}

#header h1{
    color: #FFCC29;
    font-size: 4rem;
    text-shadow: 2px 3px 10px #000000;
    padding: 1%;
}

.header__links{
    align-self: center;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    width: 50%;
}

.header__links a{
    color: #F58634;
    text-decoration: none;
    font-size: 2rem;
    padding: 2%;
    width: 1/3fr;
    text-shadow: 1px 1px  #000000;
}

.header__links a:hover{
    color: #FFCC29;
    scale: 1.2;
    text-shadow: 2px 2px 5px rgb(116, 2, 2);
}

.main__texto { 
    margin: auto;
    color: #040300;
    text-align: center;
    font-size: 2rem;
}

.contador{
    background-color: #f5843478;
    border: 2px solid #FFCC29;
    color: white;
    margin-top: 10%;
}

.contador p {
    font-size: 1.8rem;
}

.contador button{
    font-size: 2rem;
}

.contador button:hover{
    color: #F58634;
    border-color: #F58634;
    background-color: #FFCC29;
    cursor: pointer;
}

.contador__inside button{
    margin: 5%;
    padding: 1% 2%;
    background-color: #F58634;
    border-radius: 100px;
    border: 2px solid #FFCC29;
    color: white;
    font-size: 2rem;
    font-family: monospace;
    
}

.contador__insideDos p {
    font-size: 2rem;
    padding: 5%;
    color: #FFCC29;
}

.contador__insideDos button{
    background-color: #F58634;
    font-size: 1rem;
    color: #FFCC29;
    border-radius: 100px;
    border: 2px solid #FFCC29;
    padding: 1% 2%;
}

#stock{
    font-size: 1rem;
    color: #FFCC29;
    background-color: #F58634;
    border: 1px solid #FFCC29;

}